---
import i18next, { t, changeLanguage, language } from "i18next";
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactCTA from "../components/ContactCTA.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";
import Hero from "../components/Hero.astro";
import Grid from "../components/Grid.astro";

changeLanguage("en");

const projects = (await getCollection("work_" + i18next.language)).sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());
---

<BaseLayout
	title={t("work.myworkt")}
	description={t("work.myworktd")}
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title={t("work.mywork")}
				tagline={t("work.myworkd")}
				align="start"
			/>
			<Grid variant="offset">
				{
					projects.map((project) => (
						<li>
							<PortfolioPreview project={project} />
						</li>
					))
				}
			</Grid>
			<script
				defer
				src="https://unpkg.com/img-comparison-slider@7/dist/index.js"
				></script>
				<link
				rel="stylesheet"
				href="https://unpkg.com/img-comparison-slider@7/dist/styles.css"
				/>
				<div></div>
				<div></div>
				<Hero
				title={t("work.restauro")}
				tagline={t("work.restaurod")}
				align="start"
				/>

				<img-comparison-slider>
				<img slot="first" src="/assets/stock-1.webp" />
				<img slot="second" src="/assets/stock-2.webp" />
				</img-comparison-slider>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
