---
import Icon from './Icon.astro';
import { LanguageSelector } from "astro-i18next/components";
---
<div>
<Icon icon="translate" color="var(--accent-dark)" size="1.4em"/>
<LanguageSelector showFlag={false} class="box"/>
</div>

<style>
      .box {
		outline: 0;
 		border: 0;
        color: var(--accent-dark);
        background: transparent;
        font-size: var(--text-sm);
        font-weight: bold;
        font-family: var(--font-brand);
      }
      .icona{
        
      }
</style>

